*{
padding: 0;
margin: 0;
text-decoration: none;
list-style: none;
}
html{
  width:95%;
  height:100%;
}
body{
  font-family: "Montserrat";
  background-color:#61f2f5;
  width:100vw;
  height:100%;
}
/* Navbar Row */
.navbar {
  width:100vw;
  font-family: Arial;
  padding:0 0.5rem 0 0.5rem;
}

.logo{
height: 40px;
width:155px;
}
.nav-item {
  padding: 0 1.5rem;
}

.nav-link {
  font-size: 1rem;
  font-family: "Montserrat-light";}

/* BODY WORK */

.text1{
  text-align: center;
  padding: 0 3% 20px;
}
.btn1{
  margin: 20px 10px;
  border-radius: 16px;
}
.div1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1fr;
  align-items: center;
  text-align: center;
  margin-right: 0;
  margin-left: 0;
}
.div11{
  padding:auto 30%;
}
.wrapper{
  /* border: 1px solid #723881; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}
.wrapdiv{
  background-color: #e0e0e0;
  width: 20%;
  row-gap: 10px;
  margin: 0;
  padding: 0;
}
.wraDiv{
  width: 45%;
}
#banner{
  width: 80%;
  padding: 0 10%;
  margin: 20px 10%;
}
.bannerImg{
  text-align: center;
  width: 70vw;
  height: 400px;

}
.adverts{
  background-color:#fff;
  text-align: center;
  width: 700px;
  height: 150px;
  margin: 20px auto;
  padding: 50px 50px;
}
.app-text{
  width: 100vw;
  padding: 50px 30%;
  text-align: center;
}
.nft{
  float: left;
  height: 200px;
  width: 200px;
}

.footer{
  background-color: #723881;
  color: #61f2f5;
  height: fit-content;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 0;
  padding: 40px 0;
}
.footerdiv{
  text-align: center;
}
li{
  font-size: .8125rem;
  font-weight: 300;
  list-style: none;
  padding-top: 0.625rem;
}
.linnk{
  text-decoration: none;
  color: #61f2f5;
}










 









  

@media (max-width: 1000px){
  body{
    width: 100vw;
    height: 100%;
  }
  .div1{
    display: grid;
    grid-template-columns:1fr;
    grid-row: 1fr;
    align-items: center;
    text-align: center;
    margin-right: 0;
    margin-left: 0;}
  .app-text{
    margin: auto;
    text-align: center;
  }
  .nft-text{
    text-align: center;
    padding: 0;
  }
  .nft{
    height: 150px;
    width: 100%;
    margin-bottom: 10px;
  }

  .heroImg{
    width:100vw;
  }
  #banner{
    padding: 0;
  }
  .bannerImg{
    width: 90%;
    height: min-content;
    margin: 0 5%;
  }
  .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .wrapdiv{
      width: 80%;
      row-gap: 10px;
      margin: 10%;}

  .adverts{
    text-align: center;
    width: 80vw;
    height: fit-content;
    margin: 20px auto;
    padding: auto;
}}



@media (max-width: 800px){
  body{
    width: 100%;
    height: 100%;
  }

  .heroImg{
    width:100vw
  }
  #banner{
    text-align: center;
    margin: 10px auto;
    padding: 0 auto;
  }
  .bannerImg{
    width: 90%;
    height: min-content;
    margin: 0 5%;
  }
  .wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .wrapdiv{
      width: 80%;
      row-gap: 10px;
      margin: 10%;
  }
  .adverts{
    text-align: center;
    width: 80vw;
    height: fit-content;
    margin: 10px auto;
    padding:0 10vw;}
}
.footer{
  width: 100vw;
}










.btn{
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: #723881;
  --bs-btn-border-color:#e0e0e0;
  --bs-btn-border-radius: .5rem;
  --bs-btn-hover-color:#61f2f5;
  --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
  --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
  --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}